---
import Layout from "../layouts/Layout.astro";
import ApplySection from "../components/Apply/ApplySection.astro";
---

<Layout
  title="Apply"
  description="Apply to work with re/Human. We partner with brands ready to build community-powered growth systems."
>
  <main class="main-wrapper relative overflow-hidden">
    <ApplySection />
  </main>
</Layout>
